apiVersion: v1
kind: Service
metadata:
  labels:
    app: webdav
  name: webdav-service
  namespace: services
spec:
  ports:
    - name: web
      port: 80
      protocol: TCP
      targetPort: 8080
  selector:
    app: webdav
