apiVersion: v1
kind: Service
metadata:
  labels:
    app: keybr
  name: keybr-service
  namespace: services
spec:
  ports:
    - name: web
      port: 3000
      protocol: TCP
      targetPort: 3000
  selector:
    app: keybr
