#!/bin/sh

MY_IP=$(ifconfig vio0 | awk '$1 == "inet" { print $2 }')

ensure_placeholder_cert() {
	host=$1
	copy_from=foo.zone

	if [ ! -f "/etc/ssl/$host.crt" ]; then
		cp -v "/etc/ssl/$copy_from.crt" "/etc/ssl/$host.crt"
		cp -v "/etc/ssl/$copy_from.fullchain.pem" "/etc/ssl/$host.fullchain.pem"
		cp -v "/etc/ssl/private/$copy_from.key" "/etc/ssl/private/$host.key"
	fi
}

prepare_standby_cert() {
	host=$1
	if [ -L "/etc/ssl/$host.fullchain.pem" ] || [ -L "/etc/ssl/private/$host.key" ]; then
		rm -f "/etc/ssl/$host.crt" "/etc/ssl/$host.fullchain.pem" \
			"/etc/ssl/private/$host.key"
	fi
}

handle_cert() {
	host=$1
	host_ip=$(timeout 10 host "$host" | awk '/has address/ { print $(NF) }')
	if [ -z "$host_ip" ]; then
		echo "Lookup of $host failed or timed out, skipping..."
		return
	fi

	if ! grep -q "^server \"$host\"" /etc/httpd.conf; then
		echo "Host $host not configured in httpd, skipping..."
		return
	fi
	ensure_placeholder_cert "$host"

	if [ "$MY_IP" != "$host_ip" ]; then
		echo "Not serving $host, skipping..."
		return
	fi

	crt_path=/etc/ssl/$host
	if [ -e "$crt_path.crt" ]; then
		rm "$crt_path.crt"
	fi
	ln -s "$crt_path.fullchain.pem" "$crt_path.crt"
	/usr/sbin/acme-client -v "$host"
}

has_update=no
{{range .Domains}}
handle_cert {{.Name}}
if [ $? -eq 0 ]; then
	has_update=yes
fi
prepare_standby_cert standby.{{.Name}}
handle_cert standby.{{.Name}}
if [ $? -eq 0 ]; then
	has_update=yes
fi
{{end}}
{{range .NonStandbyHosts}}
handle_cert {{.}}
if [ $? -eq 0 ]; then
	has_update=yes
fi
{{end}}
handle_cert {{.ServerFQDN}}
if [ $? -eq 0 ]; then
	has_update=yes
fi

if [ "$has_update" = yes ]; then
	/usr/sbin/rcctl check relayd && /usr/sbin/rcctl reload relayd || /usr/sbin/rcctl restart relayd
	/usr/sbin/rcctl restart smtpd
fi
