DEFAULT_ROLE={{.DefaultRole | quote}}
MASTER_NAME={{.MasterName | quote}}
MASTER_IPV4={{.MasterIPv4 | quote}}
MASTER_IPV6={{.MasterIPv6 | quote}}
STANDBY_NAME={{.StandbyName | quote}}
STANDBY_IPV4={{.StandbyIPv4 | quote}}
STANDBY_IPV6={{.StandbyIPv6 | quote}}
PUBLISHER_FQDN={{.PublisherFQDN | quote}}
ZONES={{.Zones | quote}}
REMOVED_ZONES={{.RemovedZones | quote}}
