DEFAULT_ROLE={{.DefaultRole}}
MASTER_NAME={{.MasterName}}
MASTER_IPV4={{.MasterIPv4}}
MASTER_IPV6={{.MasterIPv6}}
STANDBY_NAME={{.StandbyName}}
STANDBY_IPV4={{.StandbyIPv4}}
STANDBY_IPV6={{.StandbyIPv6}}
PUBLISHER_FQDN={{.PublisherFQDN}}
ZONES={{.Zones}}
REMOVED_ZONES={{.RemovedZones}}
