apiVersion: apps/v1
kind: Deployment
metadata:
  name: filebrowser
  namespace: services
spec:
  replicas: 1
  selector:
    matchLabels:
      app: filebrowser
  template:
    metadata:
      labels:
        app: filebrowser
    spec:
      securityContext:
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
      containers:
      - name: filebrowser
        image: filebrowser/filebrowser:latest
        ports:
        - containerPort: 80
        env:
        - name: PUID
          value: "65534"
        - name: PGID
          value: "65534"
        volumeMounts:
        - name: filebrowser-data
          mountPath: /srv
        - name: filebrowser-database
          mountPath: /database
        - name: filebrowser-config
          mountPath: /config
      volumes:
      - name: filebrowser-data
        persistentVolumeClaim:
          claimName: filebrowser-data-pvc
      - name: filebrowser-database
        persistentVolumeClaim:
          claimName: filebrowser-database-pvc
      - name: filebrowser-config
        persistentVolumeClaim:
          claimName: filebrowser-config-pvc
