apiVersion: v1
kind: Service
metadata:
  labels:
    app: filebrowser
  name: filebrowser-service
  namespace: services
spec:
  ports:
    - name: web
      port: 80
      protocol: TCP
      targetPort: 80
  selector:
    app: filebrowser
