apiVersion: apps/v1
kind: Deployment
metadata:
  name: navidrome
  namespace: services
spec:
  replicas: 1
  selector:
    matchLabels:
      app: navidrome
  template:
    metadata:
      labels:
        app: navidrome
    spec:
      containers:
      - name: navidrome
        image: deluan/navidrome:latest
        ports:
        - containerPort: 4533
        env:
        - name: ND_SCANSCHEDULE
          value: "1h"
        - name: ND_LOGLEVEL
          value: "info"
        - name: ND_BASEURL
          value: ""
        volumeMounts:
        - name: navidrome-data
          mountPath: /data
        - name: navidrome-music
          mountPath: /music
      volumes:
      - name: navidrome-data
        persistentVolumeClaim:
          claimName: navidrome-data-pvc
      - name: navidrome-music
        persistentVolumeClaim:
          claimName: navidrome-music-pvc
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: navidrome
  name: navidrome-service
  namespace: services
spec:
  ports:
    - name: web
      port: 4533
      protocol: TCP
      targetPort: 4533
  selector:
    app: navidrome
