prometheus-node-exporter:
  prometheus:
    monitor:
      relabelings:
        - sourceLabels: [__meta_kubernetes_pod_node_name]
          targetLabel: instance

kubeEtcd:
  enabled: true
  endpoints:
    - 192.168.1.120
    - 192.168.1.121
    - 192.168.1.122
  service:
    enabled: true
    port: 2381
    targetPort: 2381
  serviceMonitor:
    relabelings:
      - sourceLabels: [__address__]
        regex: '192\.168\.1\.120:2381'
        targetLabel: instance
        replacement: 'r0.lan.buetow.org'
      - sourceLabels: [__address__]
        regex: '192\.168\.1\.121:2381'
        targetLabel: instance
        replacement: 'r1.lan.buetow.org'
      - sourceLabels: [__address__]
        regex: '192\.168\.1\.122:2381'
        targetLabel: instance
        replacement: 'r2.lan.buetow.org'

prometheus:
  prometheusSpec:
    additionalScrapeConfigsSecret:
      enabled: true
      name: additional-scrape-configs
      key: additional-scrape-configs.yaml
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: ""
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi
          selector:
            matchLabels:
              type: local
              app: prometheus

grafana:
  persistence:
    enabled: true
    type: pvc
    existingClaim: "grafana-data-pvc"

  initChownData:
    enabled: false

  podSecurityContext:
    fsGroup: 911
    runAsUser: 911
    runAsGroup: 911