apiVersion: v1
kind: Service
metadata:
  name: pushgateway
  namespace: {{ .Values.namespace }}
  labels:
    app: pushgateway
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.port }}
    protocol: TCP
    name: http
  selector:
    app: pushgateway
