replicaCount: 1

image:
  repository: prom/pushgateway
  tag: v1.10.0
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 9091

resources:
  requests:
    memory: "64Mi"
    cpu: "100m"
  limits:
    memory: "128Mi"
    cpu: "200m"

namespace: monitoring
