apiVersion: v1
kind: Service
metadata:
  name: git-server
  namespace: cicd
  labels:
    app: git-server
spec:
  selector:
    app: git-server
  ports:
  - name: ssh
    protocol: TCP
    port: 22
    targetPort: 22
  - name: http
    protocol: TCP
    port: 80
    targetPort: 8080
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: git-server-ssh
  namespace: cicd
  labels:
    app: git-server
spec:
  selector:
    app: git-server
  ports:
  - name: ssh
    protocol: TCP
    port: 22
    targetPort: 22
    nodePort: 30022
  type: NodePort
