apiVersion: v1
kind: Service
metadata:
  labels:
    app: ipv6test
  name: ipv6test-service
  namespace: services
spec:
  ports:
    - name: web
      port: 80
      protocol: TCP
      targetPort: 80
  selector:
    app: ipv6test
